*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    position: relative;
    min-height: 600px;
    background: url("../res/backgrounds/background-1.png") no-repeat center;
    background-size: cover;
}

input{
    margin-bottom: 2px;
    padding: 0 10px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid gray;
    color: rgba(66,66,66,.3);
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    color: #424242;
}

button{
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #10a100;
    outline: none;
    letter-spacing: .08em;
    cursor: pointer;
    padding: 6px 16px;
    text-transform: uppercase;
    color: #10a100;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

.body_input{
    padding: 10px;
    background: #f9f9f9;
    border: 2px solid #10a100;
    border-radius: 10px;
    margin-bottom: 15px;
}
/*Контейнер*/
.container  {
    position: relative;
    top: 100px;
    width: 240px;
    margin: 0 auto;
}

.container .top{
    margin: 6px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container .body{
    text-align: center;
}

.container .bottom{
    padding-bottom: 8px;
    text-align: center;
}
/*Инструкция*/
.introduction{
    padding: 10px;
    background: #f9f9f9;
    border: 2px solid #10a100;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    top: 100px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;

}
/*Анимация текста*/
@keyframes animate-text {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.animation_text:hover{
    animation: animate-text .5s;
}
/*CARD*/
.body_card {
    padding: 10px;
    background: #f9f9f9;
    border: 2px solid #10a100;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card {
    display: inline-block;
    border: 1.5px solid gray;
    border-radius: 6px;
    font-family: "Roboto Condensed", sans-serif;
}

.card:hover {
    border: 1.5px solid #10a100;
}

.card:hover hr {
    border: 0.5px solid #10a100;
}

.card img {
    padding-top: 3px;
    position: relative;
    margin: 0;
    max-width: 100px;
    max-height: 100px;
    width: content-box;
    height: border-box;

}
/*Валидация*/
.valid {
    border: 1.5px solid #10a100;
}

.error {
    border: 1px solid #ff0000;
}

#invalid_person{
    height: 12px;
    color: red;
    font-size: 11.5px;
    padding-bottom: 3px;
}
/*Ролик*/
.slider__container {
    border: 2px solid #10a100;
    border-radius: 10px;
    width: 40em;
    height: 22em;
    margin: 1.5em auto;
    overflow: hidden;
    background: white;
}
.slider img {
    float: left;
    max-width: 100%;
    min-height: 20em;
}