@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
    font-smooth: never;
}
.canvas{
    position: absolute;
}
#idi{
    display: none;
}
img{
    position: absolute;
    z-index: 1;
    top: 25px;
    width: 25px;
    height: 25px;
    right: 100px;
    cursor: pointer;
}
.topUI {
    position: absolute;
    z-index: 1000; /* need this cause clip-path changes stack context */
    transform: translate(-50%, 25px);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
    color: #fff;
    font-size: 17px;
}
.topUI::before {
    display: inline-block;
    height: 17px;
    padding: 1px 2px;
    line-height: 19px;
    font-size: 17px;
    background: #fff;
    text-shadow: none;
    font-weight: 900;
    letter-spacing: 0;
    border-radius: 6px;
    margin-right: 30px;
    border: 2px solid #7dd8c9;
}
#name{
    left: 10%;
    color: #f4f430;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#name::before {
    content: 'ИМЯ';
    color: #f57214;

}
#score{
    left: 30%;
}
#score::before {
    content: 'СЧЕТ';
    color: #a61a9d;
}
#time{
    left: 50%;
}
#time::before {
    content: 'ВРЕМЯ';
    color: #0082df;
}

#hp{
    left: 70%;
    color: #e62e13;
}
#hp::before {
    content: 'HP';
    color: #e62e13;
}
